#introduction {
	text-align: center;
	margin-top: 50px;
	p {
		color: $dark-blue;

        &:first-of-type {
            font-family: 'TradeGothic LT CondEighteen';
        }
	}
	button {
		background: none;
		border: none;
		text-transform: uppercase;
		color: $blue;
		font-size: 2.2em;
        margin-top: 40px;

		img {
			padding-left: 10px;
			height: 21px;
		}
	}
	.start-quiz{
		margin-bottom: 120px;
	}
}