#results {
	position: relative;
	color: #ffffff;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	h1 {
		text-align: center;
		text-transform: uppercase;
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 1em;
		width: 100vw; // accommodates Northern Water Snake
	}
	h2 {
		margin-bottom: 0px;
		text-transform: uppercase;
	}
	h3 {
		font-family: 'TradeGothicW01Cn_18';
		font-size: 1.6em;
		font-style: italic;
		margin-top: 0px;
	}
	p {
		text-align: left;
	}
	span {
		font-style: italic;
	}
	button {
		border: none;
		background: none;
		color: #ffffff;
		text-transform: uppercase;
		font-size: 2.2em;
		img {
		padding-left: 10px;
		height: 21px;
		}
	}
	.back-to-start{
		margin-bottom: 30px;
	}
	img#profile {
		width: 175px;
	}
}

#results.in {
	z-index: 3;
}

.social-share img{
	padding: 10px;
}

.share-msg{
	margin-top: 30px;
	text-align:center;
	font-size: 2.2em;
}

.take-the-quiz{
	margin-top:30px;
}
