$blue: #67a6d8; // rgb(103, 166, 216)
$semi-transparent-blue: rgba(103, 166, 216, 0.7);
$transparent-blue: rgba(103, 166, 216, 0.5);
$medium-blue: rgb(58, 103, 168);
$dark-blue: #355da5; //rgb(53, 93, 165);
$darker-blue: #202c5c; //32, 44, 92
$sand: #E5DFD1;
$blue-gradient: linear-gradient(rgba(103, 166, 216, 0.5), rgba(53, 93, 165, 0.9));
